body {
  font-family: 'Poppins', sans-serif;
  background: #f4f6f8;
  margin: 0;
}

/* Header */
header {
  background: #0a66c2;
  color: white;
  padding: 30px;
  text-align: center;
}

/* Cards */
.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 40px;
}

.card {
  background: white;
  padding: 20px;
  width: 250px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card a {
  text-decoration: none;
  color: white;
  background: #0a66c2;
  padding: 8px 15px;
  border-radius: 5px;
}

/* Resume */
.resume {
  display: flex;
  width: 80%;
  margin: 40px auto;
  background: white;
}

.left {
  width: 35%;
  background: #0a66c2;
  color: white;
  padding: 20px;
}

.right {
  width: 65%;
  padding: 20px;
}

/* Biodata */
.biodata {
  background: white;
  width: 60%;
  margin: 40px auto;
  padding: 30px;
}
